.images{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 88.19%;
    width: 100%;
}

.homepage img {
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease, transform 1s ease;
}
  
.homepage img.active {
    opacity: 1;
    transform: scale(1);
}

.image-content-div {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: self-start;
    flex-direction: column;
  }
  
  .image-content {
    display: flex;
    font-family: genos;
    align-items: self-start;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(71, 71, 71, 0.411);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);    
    width: 40%;
    height: 73.5%;
    margin-top: 80px;
    border-radius: 0;
    font-size: larger;
}