@font-face {
    font-family: 'genos';
    src: url('/static/Genos-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'overpass';
    src: url('/overpass-bold.otf') format('truetype');
}

*::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #161a1d;
    border-radius: 2px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.main-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* PUBLIC */

.header-logo-name {
    font-family: "genos";
    font-size: 30px;
}