.second-home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 569px;
    font-family: "overpass";
    background-color: orangered;
    color: white;
    padding: 30px;
}