.header-link{
    text-decoration: none;
    color: #444;
}

.header-link.active{
    border-bottom: 2px solid orangered;
}

#header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
    opacity: 1;
    margin: 0;
    color: black;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.014);
    padding-left: 30px;
    padding-right: 30px;
}

.header-logo-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
}

.sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-name {
    font-family: "genos";
    font-size: 30px;
}

#header-links {
    font-family: "overpass";
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap: 40px;
    z-index: 1;
    font-size: 15px;
    font-weight: bold;
}

.header-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: black;
    transition: 0.2s ease;
    background-color: transparent;
    gap: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.header-link:hover {
    border-bottom-color: orangered;
    cursor: pointer;
}

#profile-logged-in{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 0px;
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
    transition: 0.2s ease;
    height: 30px;
    width: 80px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

#profile-logged-in:hover{
    background-color: orangered;
    color: white;
}

#profile-logged-in-name{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    align-content: center;
    background-color: orangered;
    color: white;
    width: 80%;
    height: 100%;
}

.header-signin-btn{
    border-radius: 4px;
    padding: 10px;
    background-color: orangered;
    border: 2px solid orangered;
    color: white;
    transition: 0.2s ease;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

#profile-drop-down{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 8px;
    position: absolute;
    width: 200px;
    text-align: center;
    margin-top: 270px;
    margin-left: 82%;
    margin-right: 8%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;
}

#profile-drop-down-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#drop-down-profile-btn,
#drop-down-properties-btn,
#drop-down-logout-btn{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 8px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.781);
    border: 2px solid transparent;
}

#drop-down-profile-btn,
#drop-down-properties-btn{
    text-decoration: none;
    background-color: white;
}


#drop-down-profile-btn:hover,
#drop-down-properties-btn:hover{
    background-color: orangered;
    color: white;

}

#drop-down-logout-btn{
    background-color: orangered;
}

#drop-down-logout-btn:hover{
    border-color: orangered;
    background-color: white;
}